#carouselProjetcs {
  width: 100vw;
}

img {
  height: 75vh;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  object-fit: cover;
  object-position: 50% 0%;
}

h5 {
  font-size: 2rem;
}

.carousel-caption {
  background-color: #3335;
  border-radius: 20px;
}
