#carouselProjetcs {
  width: 100vw;
}

img {
  height: 75vh;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  object-fit: cover;
  object-position: 50% 0%;
}

.carousel-caption {
  background-color: #009ccfcc;
  border-radius: 25px;
  padding: 25px;
}

.carousel-caption a {
  color: white;
}
