<section id="profile">
  <img class="img-responsive" src="assets/images/profile.jpg" alt="Profile pic" height="150px">
  <h1>Alejandro Alarcón</h1>
  <p>{{ 'profileSection.introduction' | translate }}<br>
  {{ 'profileSection.findMeAt' | translate}}</p>

  <ul class="row">
    <li *ngFor="let item of profileItems" class="col-6 col-sm-3"><a href="{{item.link}}" title="{{item.title}}" target="{{ item.target }}">
      <i class="{{item.icon}}"></i>
      <h5>{{item.text}}</h5>
    </a></li>
  </ul>

</section>
