/* You can add global styles to this file, and also import other style files */
body {
	background-image: url('assets/images/bg.png');
	color: black;
	font-family: 'Share';
}

a:link, a:visited, a:hover, a:active {
	color: black;
	text-align: center;
	text-decoration: none;
}

p {
	font-size: 1.5rem;
}

h1 {
	/* font-family: 'Major Mono Display', monospace; */
	font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
	font-size: 2rem;
}

h5 {
	font-size: 1rem;
}

hr {
	border-color: black;
}

i {
	font-size: 2.6rem;
}

section {
  margin: 25vh auto 25vh auto;
  max-width: 900px;
	text-align: center;
}

li {
	font-size: 1.5rem;
	margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 575px) {
  p, h5, li {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
